
    <div class="row" id="r3" style="background-color: aquamarine;">
        <div class="col-sm-2"></div>
        <div class="col-sm-4" id="r2sm4">
        <h6> <a href="privacy">Privacy Policy</a><br><br>
            <a href="dis">Disclaimer</a><br><br>
            <a href="feedback">Feedback</a><br><br>
            <a href="Contact">Contact Us</a><br><br></h6>
        </div>
        <div class="col-sm-4">
            <h6> <a href="">
                <i class="fa fa-envelope fa-lg"></i>
                bebpro@gmail.com</a><br><br>
            <a href="">
                <i class="fa fa-facebook fa-lg"></i>Facebook</a><br><br>
            <a href="">
                <i class="fa fa-instagram fa-lg"></i>Instagram</a><br><br>
            <a href="">
                <i class="fa fa-twitter fa-lg"></i>Twitter</a><br><br></h6>
        </div>
        <div class="col-sm-2"></div>
    </div>

    </body>
</html>