<%- include('partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>BIT ELECTRICITY BOARD</h1>
            <p>Pay your bills, views them, select the available plans smoothly and confidentially without any risk.</p>
        </div>        
    </header>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapse6">Beb Gallery</a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse ">
              <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="thumbnail">
                        <img src="https://st1.bgr.in/wp-content/uploads/2019/05/paytm-electricity-offer.jpg">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="thumbnail">
                        <img src="https://mk0qaxewenuu33xx1t5t.kinstacdn.com/wp-content/uploads/2019/06/lower-electricity-bill-cover-1024x536.png">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="thumbnail">
                        <img src="https://news.energysage.com/wp-content/uploads/2018/05/4.30_Electric-Bill-Too-High-Here%E2%80%99s-how-to-troubleshoot_Blog.png">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="thumbnail">
                        <img src="https://content2.jdmagicbox.com/comp/def_content/electricity-suppliers/shutterstock-303371957-electricity-suppliers-2-6e9qv.jpg">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="thumbnail">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSauuEuLC6Mh6ya8hNJGQTe3qCzkF3UNB0dl3vlh3iolcDSG8-U">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="thumbnail">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3zsE26lMPRT2xi1VCUuM5WWN-Rl8YNgPo_ggvynW-JI0tjmGb&s">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapse1">Payment</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse ">
          <div class="panel-body">
              <a href="paybill">Pay Bill</a><br><br>
              <a href="viewbill">View Bill</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapse2">Connections</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
              <a href="">New Connection(LT/LTIS/HT)</a><br><br>
              <a href="">Connection Modification</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse"  href="#collapse3">Links</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
              <br>
              <marquee direction="up" height="130px" scrollamount="4">
              <a href="">Jharkhand Government</a><br><br>
              <a href="">JSER</a><br><br>
              <a href="">Download UM Billing App</a><br><br>
              <a href="">Download Urjamitra App</a><br><br>
              <a href="">DELP</a><br><br>
              <a href="">Urjamitra</a><br><br>
              <a href="">Transformers</a><br><br>
              <a href="">Schemes/Projects</a><br><br>
              </marquee>
          </div>
        </div>
      </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapse4">Notice</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
                  <marquee direction="up" height="130px" scrollamount="4"><font color="red">
                  2019/(175)	Division wise arrear details of consumers having arrears greater than Rs.10,000/- for rural	<br><br>
                  2019/(174)	Division wise arrear details of consumers having arrears greater than Rs.10,000/- for govt	2<br><br>
                  2019/(173)	Division wise arrear details of consumers having arrears greater than Rs.10,000/- for urban  <br><br>
                  2019/(125)	Public Notice for Review Petition FY 19-20.	2019-07-19	<br><br>
                  2019/(124)	Review Petition against Tariff Order 19-20.	2019-07-19	<br><br>
                  2019/(123)	Domestic Efficient Lighting Programme(DELP)	2019-07-19	<br><br>
                  2019/(122)	Vendor Impanelment	2019-07-18	<br><br>
                  2019/(121)	Net-Metering_Solar_PV_Rooftop	2019-07-18	<br><br>
                      2019/(120)	Empanneled Vendor<br><br></font></marquee>
              </div>
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse"  href="#collapse5">Annual Accounts</a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
                  <marquee direction="up" height="130px" scrollamount="4">
                  <b>Accounts:</b> CAG Report FY 2016-17<br><br>
              <b>Accounts:</b> CAG Report FY 2016-17<br><br>
               <b>Accounts:</b> Audited Annual Accounts FY 2017-18<br><br>
              <b>Accounts:</b> CAG Report FY 2016-17<br><br>
               <b>Accounts:</b> Statutory Audit Report FY 2016-17<br><br>
               <b>Accounts:</b>Audited Annual Accounts FY 2016-17<br><br>
              <b>Accounts:</b> Statutory Audit Report FY 2015-16<br><br>
                 <b>Accounts:</b> Annual Accounts and Audit Report for FY 2011-12 Erstwhile JSEB<br><br>
                <b>Accounts:</b> Annual Accounts and Audit Report for FY 2011-12 Erstwhile JSEB<br><br>
                      <b>Accounts:</b> Transfer Scheme<br><br></marquee>
                </div>
            </div>
          </div>
        </div> 

        <center><h1>Download our App</h1></center><br><br>
            <div class="row" id="inrw1">
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <a href=""><img src="https://www.jbvnl.co.in/newkit/images/suvidha.jpg" id="apmg1"></a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <a href=""><img src="https://www.jbvnl.co.in/newkit/images/save.jpg" id="apmg2"></a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <a href=""><img src="https://www.jbvnl.co.in/newkit/images/billonline.jpg" id="apmg3"></a></div>
                </div>
            </div>

</div>

<%- include('partials/footer') %>