<%- include('partials/header') %>

<div class="container">
    <h1>
        TERMS OF SERVICE
    </h1>
    <h2>
        Privacy Policy
    </h2>
    <p>
        BITEB respects and protects the privacy of the individuals that access the information and use the services brought through them. Individually identifiable information about you is not willfully disclosed to any third party without first receiving your permission, as covered in this Privacy Policy. This Privacy Policy describes BITEB treatment of personally identifiable information that BITEB collects when you are on the BITEB website. The service delivery is subject to the acts and rules promulgated by the Government from time to time. Electronic delivery of Government services are in compliance to the Information Technology Act,2008 (Amended) BITEB does not collect any unique information about you (such as your name, email address, age, gender etc.) except when you specifically and knowingly provide such information on www.biteb.co.in Like any business interested in offering the highest quality of service to clients, BITEB may, from time to time, send you e-mail and other communication to tell you about the various services, features, functionality and content offered by the BITEB website or seek voluntary information from you. Please be aware, however, that we will release specific personal information about you if required to do so in order to (a) comply with any valid legal process such as a search warrant, statute, or court order, or (b) if we find that your actions on our website violate the Terms of Service or any of our guidelines for specific services, or (c) to protect or defend our legal rights or property, the BITEB site, or our users; or (d) investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the security, integrity of the BITEB website/offerings..
        <br>
        <br>
    </p>
    <h3>
        Limitation of Liability
    </h3> 
    <p>
        (i) BITEB has made this service available to you as a matter of convenience. BITEB expressly disclaims any claim or liability arising out of the provision of this service. You agree and acknowledge that you shall be solely responsible for your conduct and that BITEB reserves the right to terminate your rights to use the service immediately."
        <br>
        <br>
        (ii) In no way shall BITEB, the Payment Service Providers or its affiliates be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, data or other intangible losses arising out of or in connection with the access to, use of, or reliance on the Payment Gateway services.
        <br>
        <br>
        (iii) BITEB and the Payment Service Providers assumes no liability whatsoever for any monetary or other damage suffered by you on account of (i) the delay, failure, interruption, or corruption of any data or other information transmitted in connection with use of the Payment Gateway; or (ii) any interruption or errors in the operation of the Payment Gateway.
        <br>
        <br>
        (iv) You shall indemnify and hold harmless BITEB and their respective officers, directors, agents, and employees, from any claim or demand, or actions. We / our Employees are not liable for any loss or damages arising from your use of, or reliance upon the information contained on our website, or any failure to comply with the terms and conditions where such failure is due to circumstance beyond our reasonable control. If we waive any rights available to us under terms and conditions on an occasion, this does not mean that those rights will automatically be waived on any other or subsequent occasion.
        <br>
        <br>
        If any part of terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions shall nevertheless continue in full force.
        <br>
        <br>
        (v) You agree, understand and confirm that personal data including without limitation details relating to debit card/credit card transmitted over the Internet is susceptible to misuse, theft and/or fraud and that JBVNL has no control over such matters.
        <br>
        <br>
        (vi) Although all reasonable care has been taken towards guarding against unauthorized use of any information transmitted by you, BITEB does not represent or guarantee that the use of the payment gateway will not result in theft and/or unauthorized use of data over the Internet.
        <br>
        <br>
        (vii) BITEB, the Payment Service Providers and its affiliates and associates shall not be liable, at any time, for any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communications line failure, theft or destruction or unauthorized access to, alteration of, or use of information contained at this site.
        <br>
        <br>
        (viii) To register with this website or to use certain services and tools, you may have to create your User ID and Password. Your User ID and Password are very important pieces of information and it is your responsibility to keep them secured. You agree to Choose a new password, whenever you required to do so Keep your User ID & Password confidential. Be responsible for any transactions made by Users, you have authorized to use your User ID and Password. We recommend that you do not divulge your password to anyone. BITEB will never ask you for your password in an unsolicited phone call or in an unsolicited email. Also remember to sign out of your BITEB account and close your browser window when you have finished your work. This is to ensure that others cannot access your personal information and correspondence if you share a computer with someone else or are using a computer in a public place like a library or Internet café.
        <br>
        <br>
    </p>
    <h3>
        Personal Information
    </h3>
        <p>
            (i) To the extent required or permitted by law, we may also collect, use and disclose personal information in connection with security related or law enforcement investigations or in the course of cooperating with authorities or complying with legal requirements.
            <br>
            <br>
            (ii) If you e-mail us, you are voluntarily releasing information to us. Your e-mail address will be used by BITEB to respond to you.
            <br>
            <br>
            (iii) In addition, we may have collected similar information from you in the past. By entering this website you are consenting to the terms of our information privacy policy and to our continued use of previously collected information. By submitting your personal information to us, you will be treated as having given your permission for the processing of your personal data as set out in this policy.
            <br>
            <br>
            (iv) Your information will be managed in accordance with the law, including Data Protection Act, 1998.
            <br>
            <br>
        </p>
    <h3>
            Availability
    </h3>
        <p>
            (i) BITEB controls and operates this web site from India and makes no representation that the materials are appropriate or will be available for use in other locations. If you use this web site from outside the India, you are entirely responsible for compliance with all applicable local laws.
            <br>
            <br>
            (ii) Information that BITEB publishes on the World Wide Web may contain references or cross references to BITEB programs and services that are not announced or available in your country. Such references do not imply that BITEB intends to announce such programs or services in your country.
            <br>
            <br>
        </p>
    <h3>
            Copyrights
    </h3>
        <p>
            "This web site contains material, including text, images, graphics, video and sound, which is protected by copyright and/or other intellectual property rights. All copyright and other intellectual property rights in this material are either owned by BITEB or have been licensed to BITEB by the owner(s) of those rights so that it can use this material as part of this web site. BITEB retains copyright on all Information, including text, graphics and sound and all trademarks displayed on this web site are owned by BITEB and used under license by BITEB affiliates."
            <br>
            <br>
        </p>
</div>

<%- include('partials/footer') %>