<%- include('partials/header') %>

<div class="container">
    <h1>Welcome <%= cu.username %> !!!!</h1>
    <h3>Your Bill Till now is Rs 1001.12.</h3>
    <button class="btn btn-default"><a href="Paybill">Pay Now</a></button><br><br>
</div>

<%- include('partials/footer') %>